.form_group_body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.form_group_form {
    width: 400px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 4px 16px #ccc;
    font-family: "Comic Sans MS";
    letter-spacing: 1px;
    background: #f5f5f5; /* Цвет фона */
    margin: auto; /* Выравниваем по центру */
    /*width: 300px; !* Ширина формы *!*/
    /*padding: 20px; !* Поля вокруг текста *!*/
}
.form_title {
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
}

.form_group button {
    margin-top: 40px;
    margin-bottom: 20px;
}

.form_group input {
    text-align: center;
    width: 100%; /* Ширина поля */
    box-sizing: border-box; /* Ширина не учитывает padding */
    padding-top: 0.5rem; /* Поля вокруг текста */
    border: none; /* Убираем рамку */
    border-bottom: 1px solid #ccc; /* Линия снизу */
    background: transparent; /* Прозрачный фон */

}

.form_group input:focus {
    outline: none; /* Убираем контур */
    border-color: #1976D2; /* Синяя линия снизу */
}

.form_group label {
    text-align: center;
    display: block; /* Блочный элемент */
    color: #aaa; /* Цвет подсказки */
    transform: translateY(-1.5rem); /* Сдвигаем вверх */
    line-height: 1rem; /* Межстрочный интервал */
    transition: 0.3s; /* Время трансформации */
    font-size: 1.25rem;
}

.form_group input:focus + label,
.form_group input:valid + label {
    font-size: 12px; /* Размер шрифта */
    transform: translateY(-3rem); /* Сдвигаем вверх */
}

/*стиль таблицы*/

.format_table {
    font-family: "Comic Sans MS";
    font-size: 14px;
    width: max-content;
    border: 1px solid #37B5A5;
    border-collapse: collapse;
    background: #252F48;
    margin: 10px;
}
.format_table th {
    color: #EDB749;
    border: 1px solid #37B5A5;
    padding: 8px 10px;
}
.format_table td {
    color: #CAD4D6;
    border: 1px solid #37B5A5;
    padding: 5px 10px;
}
.format_table tr:hover td {
    text-decoration: underline;
}